$colors: (background: #30373d, 
	foreground: #dbdedf, link: #fff, 
	content-background: #fff, 
	content-foreground: #000, 
	content-link: #27ae60,
	content-header: #30373d,
	second-background: #f1f4f6,
	second-foreground: #000,
	danger-background: #fcf4f3,
	danger-foreground: #E74C3C,
	border-light: #f1f4f6
);

$fonts: (serif: 'PT Serif', sans: 'Montserrat', mono:'Inconsolata');

$relative-font-sizing : false;
$base-font-size       : 16px;
$base-line-height     : 24px;

$margin: 24px;